<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Bluethinkinc::top_level" title="Bluethinkinc" module="Bluethinkinc_CatalogStockStatus" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Bluethinkinc_CatalogStockStatus::bluethinkinc_catalogstockstatus_rule" title="Rule" module="Bluethinkinc_CatalogStockStatus" sortOrder="9999" resource="Magento_Backend::content" parent="Bluethinkinc::top_level" action="bluethinkinc_catalogstockstatus/rule/index"/>
	</menu>
</config>
